%h1 Listing datasets

%table
  %thead
    %tr
      %th Name
      %th Description
      /%th Uri
      %th

  %tbody
    - @datasets.each do |dataset|
      %tr
        %td= dataset.name
        %td= dataset.description
        /%td= link_to 'link', dataset.uri
        %td= link_to 'Show', dataset,class: 'button'
        /%td= link_to 'Edit', edit_dataset_path(dataset)
        /%td= link_to 'Destroy', dataset, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=# link_to 'New Dataset', new_dataset_path
