%label#presentation-switch
  %input{                       |
    checked: true,              |
    type: "checkbox",           |
    value: "checked",           |
    name: "presentation-switch" |
  }/                            |
  .checkbox

#presentation-timer

#presentation.presentation

  #section0.section.active
    %h1 European Big Data Hackathon

    .notes
      :markdown
        ## Σημειώσεις Παρουσίασης

        Οι σημειώσεις παρουσίασης **απενεργοποιούνται** από το διακόπτη
        στην πάνω δεξιά γωνία της σελίδας ↗

        Οι διαφάνειες αλλάζουν πατώντας τα πλήκτρα με το κάτω και πάνω βελάκι
        ή το κενό.

  #section1.section
    :markdown
      # Team

      ## Panayiotis Vlantis
      * BSc Computer Science
      * MSc Advanced Information Systems
      * Won Technology Innovation award in ennovation 2016

      ----

      ## Nikolas Mpombetsis

      * BSc Computer Science
      * MSc Computing Systems: Software and Hardware
      * Professional Big Data developer

      ----

      ## Michael Mylonakis

      * MEng Electrical and Computer Engineer
      * MSc Computer Systems Technology and Computer Networking
      * Professional Big Data developer

    .notes
      :markdown
        Παρουσίαση της ομάδας

  #section2.section
    :markdown
      # Architecture

      * Follow Big Data industry standards

      * Be flexible - Adapt to the policy question

      * Easy to Deploy - Easy to Run - Easy to Use
    .notes
      :markdown
        Το εργαλείο που προτείνουμε έχει τα εξής χαρακτηριστικά:

        Χρησιμοποιεί σύγχρονες τεχνικές επεξεργασίας μεγάλων δεδομένων
        και λογισμικό ανοιχτού κώδικα που αυτή
        τη στιγμή θεωρείται κορυφαίο στο χώρο του Big Data.

        Η αρχιτεκτονική του συστήματος έχει σχεδιαστεί έτσι ώστε
        επιτρέπει την ευελιξία. Αυτό γίνεται για να μπορούμε
        να προσαρμόσουμε το τελικό σύστημα γρήγορα σε
        οποιαδήποτε ερώτηση κληθούμε να απαντήσουμε.

        Επισης θέλουμε η λύση που θα παραδώσουμε να είναι
        ολοκληρωμένη και έτοιμη να λειτουργήσει out of the box.

  #section3.section
    %h1 Big Data Processing Engine
    #big-data-processing-engine-vis
    .notes
      :markdown
        Χρησιμοποιούμε το Apache Spark, ένα Big Data processing engine
        που αυτή τη στιγμή θεωρείται ένα από τα κορυφαία συστήματα.

        Το διάγραμμα αναπαριστά ένα Big Data cluster.
        Τα κουτάκια είναι υπολογιστές που επεξεργάζονται δεδομένα.
        Ένα μεγάλο πλεονέκτημα της χρήσης του Apache Spark είναι
        ότι μπορούμε να μεγαλώνουμε ή να μικραίνουμε το cluster
        όπως φαίνεται στην εικόνα
        ανάλογα με τον όγκο των δεδομένων που θέλουμε να επεξεργαστούμε.

        Αυτό είναι ιδιαίτερα επιθυμητό σε οργανισμούς όπως η Eurostat.

        *(αυτό το visualization είναι φτιαγμένο σε javascript)*

  #section4.section
    :markdown
      # Web Application

      * Runs Everywhere
      * Ease of use
      * Plethora of development and visualization tools

      &nbsp;

      *&#42; This presentation is actually a web application*
    .notes
      :markdown
        Στο σύστημά μας η διεπαφή του χρήστη υλοποιείται μέσω
        μιας εφαρμογής διαδικτύου.

        Η Eurostat θα έχει τη δυνατότητα να εγκαταστήσει σε ένα server
        την εφαρμογή μας και ο κάθε analyst της eurostat θα μπορεί
        να κάνει login από ένα web browser και να κάνει ερωτήσεις
        στο σύστημα και να
        βλέπει αποτελέσματα σε σχέση με το policy question.

        Το περιβάλλον χρήσης που θα φτιάξουμε θα είναι ευκολό στη χρήση.

        Επίσης το να κάνουμε το interface web εφαρμογή μας επιτρέπει να
        χρησιμοποιήσουμε βιβλιοθήκες visualization σε javascript.

  #section5.section
    #canada-crime
      .title
        %h1 Visualization
      .controls
        %a.button{href: "javascript:dc.filterAll(); dc.renderAll();"} Reset
      #ca-chart
        = render 'canada_svg'
      #incident-chart
        %strong Crime Per 100K Population by Year
        %br
      #homicide-chart
        %strong Homicide Incidents by Year
        %br
      :coffee
        PresentationVisualizations.canadaCrime()
    .notes
      :markdown
        Έδω βλέπουμε ένα παράδειγμα οπτικοποίησης με javascript
        από ένα dataset που δείχνει την εγκληματικότητα στον Καναδά.

        Το παράδειγμα είναι interactive, μπορεί κάποιος να επιλέξει
        με το ποντίκι ένα διάστημα στο κάτω δεξιά γράφημα για να εφαρμόσει
        ένα φίλτρο με βάση τη χρονολογία.

        Επίσης μπορεί να επιλέξει μια ή περισσότερες περιοχές στο χάρτη
        για να εφαρμόσει ένα φίλτρο με βάση την περιοχή.

        Τα φίλτρα αναιρούνται όταν κάποιος πατήσει το κουμπί Reset.

        Τέλος να αναφέρουμε ότι και το visualization του big data cluster
        στην 4η διαφάνεια έχει φτιαχτεί σε javascript.

  #section6.section
    :markdown
      # Roadmap

      1. Start building application backbone
      2. Examine published  datasets - Deduct policy question
      3. Build components relevant to the published datasets
      4. Examine external data sources (Twitter, Google Search)
    .notes
      :markdown
        Αυτή τη στιγμή φτιάχνουμε όλα τα απαραίτητα υποσυστήματα
        που θα χρειαστούμε στην πορεία.

        Από τα datasets που θα δημοσιεύσει σύντομα η Eurostat θα
        αποκτήσουμε μια καλύτερη ιδέα από τον χώρο
        στον οποίο ανοίκει η ερώτηση που θα κληθούμε να απαντήσουμε.

        Για το πιθανότερο policy question μπορούμε
        να προετοιμάσουμε και εξωτερικές πηγές δεδομένων όπως
        το twitter και το google search.

:coffee
  # $('.notes').map(function(){return this.innerHTML}).get().join("<hr>");
  $(document).on 'turbolinks:load', ->
    #$('body').css('min-width', '100px')
    if $('#presentation-switch input').first().prop('checked')
      console.log 'turn notes on'
      $('.notes').show()
    else
      $('.notes').hide()
      console.log 'turn notes off'

    $('#presentation-switch').change (event)->
      if event.target.checked
        console.log 'turn notes on'
        $('.notes').fadeIn()
      else
        $('.notes').fadeOut()
        console.log 'turn notes off'

    $(document).find('#presentation').not('.fullpage-wraper')
      .fullpage
        sectionsColor: [
          ''
          '#eeeeee'
          '#eeeeee'
          '#eeeeee'
          '#eeeeee'
          '#eeeeee'
          '#eeeeee'
        ],
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: [
          'Title'
          'Team'
          'Architecture'
          'Big Data Processing Engine'
          'Web Application'
          'Visualization'
          'Roadmap'
        ],
        anchors: [
          'title'
          'team'
          'architecture'
          'big-data-processing-engine'
          'web-application'
          'visualization'
          'roadmap'
        ]

    start=Math.floor(new Date() / 1000)

    $('#presentation-timer').click (event)->
      $('#presentation-timer').html 'reset'
      start=Math.floor(new Date() / 1000)

    console.log new Date() - start

    setInterval ->
      now= Math.floor(new Date() / 1000)
      min=Math.floor((now - start)/60)
      sec=(now - start)%60
      if now - start > 0
        if min == 0
          $('#presentation-timer').html sec
        else
          $('#presentation-timer').html min+":"+sec
    ,1000

    PresentationVisualizations.cluster '#big-data-processing-engine-vis'

