#presentation3 {

  li{
    font-size: 2em;
    margin-bottom: 1em;
  }

  ul{
    list-style-type: circle;
  }

  #problem-section,
  #solution-section,
  #advantages-section,
  #prototype-section {
    padding-left: 6em;
    padding-right: 7em;
  }

}
