#presentation-switch {
  $action-color: #477dca !default;
  $base-background-color: white !default;
  $switch-width: 30px;
  $switch-padding: 2px;
  $switch-height: 20px;
  $switch-radius: $switch-height;
  $knob-size: $switch-height - ($switch-padding * 2);
  $knob-radius: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-size;
  $switch-background: $base-background-color;
  $switch-border-background: darken($base-background-color, 9%);
  $switch-shadow: 0 2px 5px transparentize(black, .6);

  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: fixed;
  right: 10px;
  top: 10px;
  width: $switch-width;
  z-index: 5000;

  input[type="checkbox"] {
    display: none;

    + .checkbox {
      background: $switch-border-background;
      border: 0;
      border-radius: $switch-radius;
      cursor: pointer;
      height: $switch-height;
      margin: 0;
      padding: 0;
      position: relative;
      transition: all .3s ease;
      width: $switch-width;
      z-index: 0;

      &::before {
        @include position(absolute, 2px 0 0 2px);
        background: $switch-background;
        border-radius: $switch-radius;
        content: '';
        height: $knob-radius;
        transform: scale(1);
        transition: all .3s ease;
        width: $switch-width - ($switch-padding * 2);
        z-index: 1;
      }

      &::after {
        @include position(absolute, 2px 0 0 2px);
        @include size($knob-size);
        background: $switch-background;
        border-radius: $knob-radius;
        box-shadow: $switch-shadow;
        content: '';
        transition: all .3s ease;
        z-index: 2;
      }
    }

    &:checked {
      + .checkbox {
        background: $action-color;

        &::before {
          transform: scale(0);
        }

        &::after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}

#presentation-timer {
  bottom: 0;
  color: black;
  cursor: default;
  font-size: .8em;
  opacity: .8;
  padding: .4em;
  position: fixed;
  right: 0;
  z-index: 10000;
}

.presentation {

  .notes {
    background: rgba(0, 0, 0, .8);
    color: ghostwhite;
    max-height: 90vh;
    overflow: auto;
    padding: 1em 1em 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4000;

    @media only screen and (min-width: 1280px) {
      max-width: 50vw;
    }

    p {
      font-family: sans-serif;
      font-size: 1em;
      padding: 0;
      text-align: justify;
    }
  }

  h1,
  p,
  li {
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    font-size: 3em;
  }

  #section1,
  #section2,
  #section4,
  #section6 {
    padding: 5vh 0 0 5vw;
    text-align: left;
  }

  #section0,
  #section3,
  #section5 {
    padding: 0;
    text-align: center;
  }

  #section2,
  #section4,
  #section6 {
    color: ghostwhite;
  }

  // Title
  #section0 {
    background: asset-url('landing-background.jpg') no-repeat center center;
    background-size: cover;

    h1 {
      background-color: rgba(0, 0, 0, .5);
      color: rgb(220, 220, 220);
      font-size: 5vw;
      padding: 5vw;
    }
  }

  // Team
  #section1 {
    h1 {
      margin-bottom: 10px;
    }

    li {
      font-size: 1.2em;
    }

  }

  // Architecture
  #section2 {
    ul {
      list-style-type: circle;
    }

    li {
      font-size: 1.4em;
    }

  }

  // Big Data Processing Engine
  #section3 {
    #big-data-processing-engine-vis {
      height: 80%;
    }

    .master-worker-link {
      stroke: #5f819d;
      stroke-width: 1px;
    }

    .cloudeplo-master-link {
      stroke: none;
    }

    .cloudeplo-worker-link {
      stroke: indigo;
      stroke-width: 1px;
    }

    .node {
      fill: #000;
      stroke: #fff;
      stroke-width: 1px;
    }

    .master {
      fill: #5f819d;
      stroke: #4f718d;
    }

    .worker {
      fill: #a54242;
      stroke: #953232;
    }

    .cloudeplo {
      fill: rgb(75, 0, 130);
      stroke: rgb(65, 0, 110);
    }

    text {
      stroke-width: 0;
    }

  }

  // Web Application
  #section4 {
    ul {
      list-style-type: circle;
    }

    li {
      font-size: 1.4em;
    }


  }

  // Roadmap
  #section6 {
    ol {
      list-style-type: decimal;
    }

    li {
      font-size: 1.4em;
      margin-bottom: .4em;
    }

  }

}



#canada-crime {
  @include outer-container;

  .title {
    @include span-columns(6);

    padding-left: 5vw;
    text-align: left;

    h1 {
      margin: 0;
    }
  }

  .controls {
    @include span-columns(1);
    @include omega();

    text-align: center;
  }

  #ca-chart {
    @include span-columns(12);
    @include omega();
  }

  #incident-chart {
    @include span-columns(6);
    }

  #homicide-chart {
    @include span-columns(6);
    @include omega();
  }

  .deselected circle {
    fill: rgba(200, 0, 0, .2);
    stroke: none;
  }
}
