#mobility-map
  .map
  .row
    .left-column
      .pie
    .right-column
      .monthly-move-chart
      .monthly-volume-chart
:coffee
  #Map.summary_map '#mobility-map', '/spark/3/data.csv', eures_names_map
  Map.summary_map '#mobility-map', '/solr.json', eures_names_map,"vis2"

