:ruby
  data = {
    component: 'eures',
    id: "eures-#{rand(100)}",
    data_uri: dataset_path(2, format: :json),
    geojson_uri: asset_path("world.geojson")
  }

#loading-wrapper
  %p.loading-message
    loading eures component
  #loading

%div[@report]
  = content_tag(:div,
    id: data[:id],
    data: data.to_json,
    class: "#{data[:component]}-component" ) do
    .map-container
      .map
    .content-container.resizable
      .content
        .clearfix
          %h1 Unemployment Report
        .clearfix
          .timeline-container
            .timeline
          .nut-chart-container
            .nut-chart
          .esco-chart-container
            .esco-chart
        .clearfix
          .season-chart-container.float-left
            .season-chart
          .gender-chart-container.float-left
            .gender-chart
          .age-chart-container.float-left
            .age-chart
        %table.hover
          %thead
            %tr
              %th metric
              %th value
          %tbody#benchinfo
    %a#fixed-reset-button.button.reset reset filters

