:ruby
  data = {
    component: 'cedefop',
    id: "cedefop-#{rand(100)}",
    data_uri: dataset_path(1, format: :json),
    geojson_uri: asset_path("europe.geojson")
  }

#loading-wrapper
  %p.loading-message
    loading cedefop component
  #loading

%div[@report]
  = content_tag(:div,
    id: data[:id],
    data: data.to_json,
    class: "#{data[:component]}-component" ) do
    .map-container
      .map
    .content-container.resizable
      .content
        .clearfix
          %h1 Vacancies Report
        .clearfix
          .timeline-container
            .timeline
          .nut-chart-container
            .nut-chart
          .esco-chart-container
            .esco-chart
        .clearfix
          .season-chart-container.float-left
            .season-chart
        %table.hover
          %thead
            %tr
              %th metric
              %th value
          %tbody#benchinfo
    %a#fixed-reset-button.reset.button reset filters
