.row
  .large-12.columns
    %h1 Reports

    %table.hover
      %thead
        %tr
          %th Name
          %th Description
          %th Attribution
          %th

      %tbody
        - @reports.each do |report|
          %tr
            %td= report.name
            %td= report.description
            %td= report.attribution
            %td= link_to 'Show', report, class: :button

    =# link_to 'New Report', new_report_path
